<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css')}}">
        <div>
            <h1>Collab.io</h1>
            <div>
                <div>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/queues/clients">Clients</a>
                    <a href="/queues/orders">Orders</a>
                </div>
                <a href="/logout"><button>Logout</button></a>
            </div>
        </div>
    {% endblock menu %}
</body>
</html>