<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Lobster+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <div class="d-flex flex-column justify-content-between align-items-center " id="menu">
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center pb-1">
                    <i class="bi bi-easel2-fill d-inline"></i>
                    <h1 class="p-1" id="sitename"><strong>Collab.io</strong></h1>
                </div>
                <a href="/dashboard" class="m-3"><button class="btn btn-dark ">Dashboard</button></a>
                <a href="/queues/clients" class="m-3"><button class="btn btn-neon ">Clients</button></a>
                <a href="/queues/orders" class="m-3"><button class="btn btn-neon ">Orders</button></a>
            </div>
            <a href="/logout"><button class="btn btn-dark">Logout</button></a>
        </div>
    {% endblock menu %}
</body>
</html>