<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='posts_style.css')}}">
    <title>Collab.io</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="posts-view">
        <div class="scrollbar scrollbar-morpheus-den" style="overflow:auto">
            {% for post in posts %}
                <!-- Artist post template -->
                {% if post.user_id == queue.artist_id %}
                    <!-- Row for post split into  -->
                    {% if post.content != "" or post.image != ""  %}
                        <div class="d-flex flex-row">
                            <!-- Username + timestamp -->
                            <div class="align-self-end">
                                    <p class="username">{{ session['username'] }}</p>
                                    <p class="timestamp"><i>{{ post.created_at }}</i></p>
                            </div>
                            <!-- Image + content -->
                            <div class="content">
                                {% if post.image %}
                                    <img src="{{ url_for( 'static', filename='uploads/' + post.image) }}" alt="user uploaded image" class="post-image">
                                {% endif %}
                                {% if post.content %}
                                    <p>{{ post.content }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- Add status as own row -->
                    <div class="d-flex flex-row justify-content-center">
                    {% if post.status%}
                        <p class="fs-6 align-self-center"><i>Status changed to: <strong>{{ post.status }}</strong></i></p>
                    {% endif %}
                    </div>
                {% endif %}

                <!-- Client post template -->
                {% if post.user_id == queue.client_id %}
                    <!-- Row for post split into  -->
                    {% if  post.content != "" or post.image != ""  %}
                        <div class="d-flex flex-row justify-content-end align-items-start">
                            <!-- Image + content -->
                            <div class="altContent">
                                {% if post.image %}
                                    <img src="{{ url_for( 'static', filename='uploads/' + post.image) }}" alt="user uploaded image" class="post-image">
                                {% endif %}
                                {% if post.content %}
                                    <p>{{ post.content }}</p>
                                {% endif %}
                            </div>
                            <!-- Username + timestamp -->
                            <div class="align-self-end justify-content-end" id="client-stamp">
                                    <p class="username">{{ queue.client.username }}</p>
                                    <p class="timestamp"><i>{{ post.created_at }}</i></p>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Add status as own row -->
                    <div class="d-flex flex-row justify-content-center">
                    {% if post.status%}
                        <p class="fs-6 align-self-center"><i>Status response: <strong>{{ post.status }}</strong></i></p>
                    {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Add a Post section -->
        <div class='border-top pt-3'>
            {% with messages = get_flashed_messages()  %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-warning">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/queues/view/{{ queue.id }}/post" method="POST" enctype="multipart/form-data" class="post">
                <textarea name="content" cols="60" rows="5"></textarea>
                <input type="hidden" name="user_id" value="{{ session['user_id']}}">
                <div class='d-flex flex-column align-items-center'>
                    <label for="status">Change status:</label>
                    {% if queue.artist_id == session['user_id'] %}
                        <div class='d-flex'>
                            <div class="m-1">
                                <input type="radio" name="status" id="thumbnail" value="Thumbnail">
                                <label for="thumbnail">Thumbnail</label><br>
                                <input type="radio" name="status" id="sketch" value="Sketch">
                                <label for="sketch">Sketch</label><br>
                                <input type="radio" name="status" id="lineart" value="Lineart">
                                <label for="lineart">Lineart</label><br>
                            </div>
                            <div class="m-1">
                                <input type="radio" name="status" id="WIP" value="WIP">
                                <label for="WIP">WIP</label><br>
                                <input type="radio" name="status" id="complete"  value="Complete">
                                <label for="complete">Complete</label>
                            </div>
                        </div>
                        <div>
                            <label for="status">Custom:</label><br>
                            <input type="text" name="status" id="custom" onclick="setCustomStatus()">
                        </div>
                    {% elif queue.response == 'Pending' %}
                        <div>
                            <input type="radio" name="status" id="approved" value="Approved">
                            <label for="approved">Approve</label>
                            <input type="radio" name="status" id="edit" value="Edit Requested">
                            <label for="edit">Request Edit</label>
                        </div>
                    {% else %}
                        <p>No status update</p>
                    {% endif %}
                </div>
                <input type="hidden" name="status" value=""> 
                <div class="d-flex flex-column align-items-center justify-content-between">
                    <label for="file">Upload an image</label>
                    <input type="file" name="file" autocomplete="off">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='view_queue.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>