body {
    background-color: #0B0C10;
    width: 100vw;
    height: 100vh;
    font-family: 'Archivo', sans-serif;
    color: #C5C6C7;
    display: flex;
    justify-content: space-between;
}

#menu{
    background-color: #1F2833;
    height: 100vh;
    min-width: 225px;
    padding: 3vh;
}

.queue-tables {
    height:100vh;
    width: 100%;
    padding: 3%;
}

#queue_form {
    display: none;
}

#queue_button {
    height:35px;
}

#sitename {
    font-family: 'Lobster Two', cursive;
    font-size:40px;
    color: #66FCF1;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;

}

.bi-easel2-fill{
    font-size:3rem;
    color:White;
}

.posts-view{
    height:100vh;
    padding:5vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

th, #username{
    font-size:large;
}

.btn-neon{
    background-color: #0B0C10;
    color: #C5C6C7;
    border: 2px solid #45A29E;
}

span {
    color:#66FCF1;
}

h2 {
    color:#45A29E;
}

td{
    color:#C5C6C7;
}

textarea, input {
    background-color:#1F2833;
    color:#C5C6C7;
    border:1px solid #66FCF1;
    border-radius: 5px;
}