body {
    background-color: #0B0C10;
    color: #C5C6C7;
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100vw;
    height: 100vh;
    padding: 2%;
    font-family: 'Archivo', sans-serif;
}

strong {
    font-size:100%;
}

img {
    border-radius: 3%;
    margin:10px;
}

.info{
    background-color:#1F2833;
    width:100vw;
}

h2{
    font-family: 'Lobster Two', cursive;
    font-size:2em;
    font-style: italic;
    color: #45A29E;
}

#login {
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
}

#submitBtn {
    height:50px;
}

#register {
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
}

.details {
    font-size:large;
}
