body {
    background-color: darkslategray;
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100vw;
    height: 100vh;
    padding: 2%;
    font-family: 'Archivo', sans-serif;
}

#sitename{
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
}

img {
    border-radius: 3%;
    margin:10px;
}

.info{
    background-color:slategray;
    width:100vw;

}

h2{
    font-family: 'Lobster Two', cursive;
    font-size:2em;
    font-style: italic;
}

#login {
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
}

#submitBtn {
    height:50px;

}

#register {
    height: 0px;
    opacity: 0;
    transition: all 0.5s;
}

.details {
    font-size:large;
}
